@use "../../../styles/abstracts/variables" as v;
@use "../../../styles/abstracts/mixins" as m;

.logo {
  @include m.flex-center;
  gap: 20px;

  h1 {
    font-size: v.$font-size-logo;
    font-family: v.$font-family-header;
    cursor: default;

    @include m.media(sm) {
      font-size: 20px;
    }
  }
}
