// Kolory headera
$header-bg-color: #ffffff;
$header-text-color: #170e0f;

// Kolory search inputa
$search-input-bg-color: #f2e8e7;
$search-input-text-color: #a8878a;

// Kolor główny (np. linki, buttony)
$primary-color: #3498db;

// Fonty
$font-family-base: "Inter", sans-serif;
$font-family-header: "Montserrat", sans-serif;

// Rozmiary fontów
$font-size-base: 1rem;
$font-size-header: 1.25rem;
$font-size-search-input: 1rem;
